// General component styles

// UserPage.tsx styles
.user-profile-img {
    width: 5rem;
    height: 5rem;
}


// Header.tsx styles
.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(139, 179, 255), lightblue); // Gradient background
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%; // Spread across the entire screen
}

.logo {
    margin-right: 10px;
}

.logo-image {
    width: 150px;
    height: 60px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}


@import "../../node_modules/bootstrap/scss/bootstrap.scss";